@model IEnumerable<SD_3200_.Models.student>
@{
    ViewBag.Title = "approveCourse";
    if (Session["userEmail"] == null)
    {
        Layout = "~/Views/Shared/generalLayout.cshtml";
        Response.Redirect("~/Home/LoginPage");
    }
    else
    {
        Layout = "~/Views/Shared/adminLoginLayout.cshtml";
    }
}
@foreach (var item in Model)
{
    <div class="card" style="margin-top:50px">

        <div class="card-body">
            <table border="0">
                <tr>
                    <td>
                        <p><b>Student name: </b>@item.studentName</p>
                    </td>
                    <td>
                    @using (Html.BeginForm("editStudent", "Admin"))
                    {
                        <button type="submit" name="editStudent" value="@item.studentID">Edit</button>

                    }
                        </td>
                    </tr>
                <tr>
                    <td>
            <p><b>Student Email: </b>@item.studentEmail</p>
            </td>
            <td>
            @using (Html.BeginForm("deleteStudent", "Admin"))
            {
                <button type="submit" name="deleteStudent" value="@item.studentID">Delete</button>

            }
                </td>
                    </tr>
        </div>
    </div>
}

