@{
    ViewBag.Title = "studentDashboard";
    Layout = "~/Views/Shared/loginLayout.cshtml";
    if (Session["userEmail"] == null)
    {
        Response.Redirect("~/Home/LoginPage");
    }
}
<head>
    <link href="~/Content/StyleSheet1.css" rel="stylesheet" />

    
    
        <script type="text/javascript">
            
                function preventBack() { window.history.forward(); }
                setTimeout("preventBack()", 0);
                window.onunload = function () { null }
            
        </script>
        

</head>
<h2 align="center">Hello @Session["userName"]</h2>

