@model IEnumerable<SD_3200_.Models.enroll>

@{
    ViewBag.Title = "studentDashboard";
    Layout = "~/Views/Shared/loginLayout.cshtml";
    if (Session["userEmail"] == null)
    {
        Response.Redirect("~/Home/LoginPage");
    }
}
<head>
    <link href="~/Content/StyleSheet1.css" rel="stylesheet" />



    <script type="text/javascript">

        function preventBack() { window.history.forward(); }
        setTimeout("preventBack()", 0);
        window.onunload = function () { null }

    </script>
    <h2 align="center">Hello @Session["userName"]!</h2>
    <br>
    <br>
    <h3>Your enrolled courses are:</h3>
    <br>

    
        @foreach (var item in Model)
        {
            <div class="card" style="margin-top:50px">

                <div class="card-body" align="center">
                    
                        <li class="notiContentLi" onclick="location.href = '@(Url.Action("SelectedCourse", "login",new { id = item.course_ID}))'"> @item.cours.course_name</li>                    
                </div>
               

            </div>
        }
  

</head>


