@model IEnumerable<SD_3200_.Models.lesson>
@{
    ViewBag.Title = "SelectedCourse";
    Layout = "~/Views/Shared/loginLayout.cshtml";
    if (Session["userEmail"] == null)
    {
        Response.Redirect("~/Home/LoginPage");
    }
}


<h2>@ViewBag.id</h2>
<iframe width="560"
        height="315"
        src="https://www.dailymotion.com/video/x8covbe?playlist=x6hzyp"
        frameborder="0"
        allowfullscreen></iframe>

