@model IEnumerable<SD_3200_.Models.lesson>
@{
    ViewBag.Title = "SelectedCourse";
    Layout = "~/Views/Shared/loginLayout.cshtml";
    if (Session["userEmail"] == null)
    {
        Response.Redirect("~/Home/LoginPage");
    }
}


<h2 align="center">@ViewBag.name</h2>
<div align="center">
<iframe src="@ViewBag.link" height="500" width="500" frameborder="0" allow="autoplay;  picture-in-picture"></iframe>
</div>
<p align="center"><b>Course description: </b>@ViewBag.desc</p>


