@{
    if (Session["userEmail"] == null)
    {
        Layout = "~/Views/Shared/generalLayout.cshtml";
    }
    else
            {
                Layout = "~/Views/Shared/loginLayout.cshtml";
            }

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h1 style="padding-top:200px">Have questions? The quickest way to get in touch with us is using the contact information below.</h1>
        <h4>Email us at learn@gmail.com</h4>
        <h4>Phone: +00********</h4>
    </div>
</body>
</html>
