@{
    ViewBag.Title = "Courses";
    if (Session["userEmail"] == null)
    { Layout = "~/Views/Shared/generalLayout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/loginLayout.cshtml";
    }

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
    
    </div>
</body>
</html>
