<head>
    <link href="~/Content/StyleSheet1.css" rel="stylesheet" />
</head>
<div>
    <div class="heroDiv">
        <div class="textDiv">
            <h1>Welcome to Our Page</h1>
            <p><a href="https://asp.net" class="btn btn-primary btn-lg">Explore Now</a></p>
        </div>
       
    </div>
</div>

