<head>
    <link href="~/Content/StyleSheet1.css" rel="stylesheet" />
</head>
<div>
    <div class="heroDiv">
        <div class="textDiv">
            <h1>Welcome to Our Page</h1>
            <p><a href="#Courses" class="btn btn-primary btn-lg">Explore Now</a></p>
        </div>
    </div>
    <div class="viewCard" id="Courses">
        <h1>Courses</h1>
    </div>
    <div class="cardDiv">
        <div class="card">
            <div class="image">
                <img src="~/Content/Images/guitar_img.jpg" alt="Guitar" />
            </div>
            <div class="title textCenter">
                <h3>Guitar</h3>
            </div>
            <div class="description textCenter">
                <p>Learn how to play the guitar as a beginner</p>
            </div>
            <div class="button textCenter">
                <p><a href="#">Get Course</a></p>
            </div>
        </div>
        <div class="card">
            <div class="image">
                <img src="~/Content/Images/drawing_img.jpg" alt="Drawing" />
            </div>
            <div class="title textCenter">
                <h3>Drawing</h3>
            </div>
            <div class="description textCenter">
                <p>Learn to draw the basics</p>
            </div>
            <div class="button textCenter">
                <p><a href="#">Get Course</a></p>
            </div>
        </div>
        <div class="card">
            <div class="image">
                <img src="~/Content/Images/origami_img.jpg" alt="Origami" />
            </div>
            <div class="title textCenter">
                <h3>Origami</h3>
            </div>
            <div class="description textCenter">
                <p>Master the art of origami</p>
            </div>
            <div class="button textCenter">
                <p><a href="#">Get Course</a></p>
            </div>
        </div>
    </div>
    <div class="about" id="aboutUs">
        <h1>About Us</h1>
    </div>
    <div class="aboutUs">
        <div class="descAbout">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="stats">
            <h2>Over 100 courses</h2>
            <h2>10+ Instructors</h2>
        </div>
    </div>
</div>

