@model SD_3200_.Models.student

@{
    Layout = "~/Views/Shared/generalLayout.cshtml";
}
<head>
    <link href="~/Content/StyleSheet1.css" rel="stylesheet" />
</head>


<div>
    <div class="logTextDiv my-4">
        <h1 class="text-center">Welcome, Login Here</h1>
    </div>
    <div>
        <h4 class="text-center">If You don't have an Account yet, <a href="/Home/RegisterPage">Register</a> </h4>
    </div>
    <div class="align-items-center align-content-center">
   
        <form class="align-center" action="/Home/LoginPage" method="post">
            <div class="form-group">
                <label for="exampleInputEmail1" class="form-label mt-4">Email address</label>
                <input type="email" class="form-control" name="loginEmail" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                @Html.ValidationMessageFor(model => model.studentEmail)
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1" class="form-label mt-4">Password</label>
                <input type="password" class="form-control" name="loginPassword" id="exampleInputPassword1" placeholder="Password">
            </div>
            <div class="textCenter my-4">
                <label class="label-danger">@ViewBag.loginError</label>
            </div>
            <div class="textCenter my-4">
                <input class="btn btn-primary btn-lg" type="submit" name="name" value="Login" />
            </div>

        </form>
       


        
    </div>
</div>
